*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:#333;
    color: white;
}
.score-container{
    background-color: green;
    width: 20%;
}
.gameContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    transform: translate(20%);
}

#GAME {
    width: 600px;
    height: 600px;
    background: url('./img/424937.jpg');
    background-size: cover;
}
.score-container{
    position: absolute;
    top: 0%;
    left: 0%;
    padding-inline: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
#restart{
    padding: 1rem;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    border: none;
}
#restart:hover{
    background-color: rgb(191, 191, 191);
    transform: scale(1.05);
    cursor: pointer;
}

.oversize{
    position: fixed;
    text-align: center;
    padding-top: 20%;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.892);
    font-size: 4em;
    color: white;
}

@media screen and (min-width:800px){
    .oversize{
        display: none;
    }
}